<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>成功案例</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/anli.css"/>
	</head>
	<body>
		<div class="top">
			<dl>
				<dt><h1><img src="../../static/img/logo.jpg"/></h1></dt>
				<dd><p>奉行追求品质则可拥抱世界</p></dd>
			</dl>
			<ul>
				<li><a href="index.html">网站首页</a></li>
				<li><a href="we.html">关于我们</a></li>
				<li><a href="#">新闻资讯</a></li>
				<li><a href="#">成功案例</a></li>
				<li><a href="fuwu.html">至尊分享</a></li>
				<li><a href="#">招商加盟</a></li>
				<li><a href="#">联系我们</a></li>				
			</ul>
		</div>
	<!--top  end-->	
		<div class="box1">
			<section>
				<ul>
					<li>成功案例</li>
					<li>每一步工程作品都精雕细琢</li>
				</ul>
				<p>当前位置：<span>主页</span>><span>成功案例</span>></p>
			</section>
		</div>
	<!--box1  end-->	
		
		<div class="box2">
			<section>
				<div >
					<a href="#">服务行业</a>
					<a href="#">教育行业</a>
					<a href="#">房产行业</a>
					<a href="#">能源行业</a>
				</div>
			</section>
		</div>
	<!--box2  end-->	
		<div class="mid">
			<article>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				<a href="#"><img src="../../static/img/anli2.jpg"/></a>
				
			</article>
		</div>
		
		
		<div class="box4">
		<div class="footer">
			<ul>
				<li><a href="#">网站首页</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">产品展示</a></li>
				<li><a href="#">客户案例</a></li>
				<li><a href="#">新闻资讯</a></li>
				<li><a href="#">帮助中心</a></li>
				<li><a href="#">联系我们</a></li>
				<li class="noline"><a href="#">解决方案</a></li>
			</ul>
			<p>Ckhhbuu &copy;2000-2010 上海汇丰科技有新公司 版权所有power igj jurh</p>
			<P>电话：12345678900 地址：护肤忽略虐豪华房护肤都给他浮动</P>
		</div>
	</div>
	</body>
</html>
