<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>麦田</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
	</head>
	<body>
		<div class="top">
			<dl>
				<dt><h1><img src="../../static/img/logo.jpg"/></h1></dt>
				<dd><p>奉行追求品质则可拥抱世界</p></dd>
			</dl>
			<ul>
				<li ><a href="#">网站首页</a></li>
				<li id="we"><a href="we.html">关于我们</a></li>
				<li><a href="#">新闻资讯</a></li>
				<li id="anlli"><a href="anli.html">成功案例</a></li>
				<li id="fuwu"><a href="fuwu.html">至尊分享</a></li>
				<li><a href="#">招商加盟</a></li>
				<li><a href="#">联系我们</a></li>				
			</ul>
		</div>
	<div class="box1"></div>	
		<div class="main">
			<h2>战略合作Strategic partners</h2>
			<p>真诚、共赢、无微不至</p>
			<ul>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
			</ul>
			<ul class="none">
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
				<li><a href="#"><img src="../../static/img/dangdang.jpg"/></a></li>
			</ul>
		</div>
	<div class="box2">
		<div class="san">
			<h2 class="biaoti">我们的优势 Our Advantage</h2>
			<p>创独一无二的设计，造国际品质的品牌，性无微不至的服务</p>
			<dl>
				<dt></dt>
				<dd>
					<h2>我们的设计 our design</h2>
					<p>刺激发挥好哈弗几号放假浪费即可发挥好忽略了防护哈弗芙蓉姐姐恢复发货复合肥个地方充分大概回访客户款哈弗更多的</p>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<h2>我们的设计 our design</h2>
					<p>刺激发挥好哈弗几号放假浪费即可发挥好忽略了防护哈弗芙蓉姐姐恢复发货复合肥个地方充分大概回访客户款哈弗更多的</p>
				</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>
					<h2>我们的设计 our design</h2>
					<p>刺激发挥好哈弗几号放假浪费即可发挥好忽略了防护哈弗芙蓉姐姐恢复发货复合肥个地方充分大概回访客户款哈弗更多的</p>
				</dd>
			</dl>
			
		</div>
	</div>	
	<!--box2  end-->	
		<div class="si">
			<h2>成功案例Successful case</h2>
			<p>始终以建设温馨、和谐的家园，以提升您的居家品位生活为己任</p>
			<ul>
				<li class="spe"><span></span><a href="#">服务行业</a></li>
				<li><span></span><a href="#">教育行业</a></li>	
				<li><span></span><a href="#">房产行业</a></li>
				<li><span></span><a href="#">能源行业</a></li>
			</ul>
		</div>
		
		<div class="photo">
			<a href="#"><img src="../../static/img/photo.jpg"/></a>
			<a href="#"><img src="../../static/img/photo.jpg"/></a>
			<a class="wu" href="#"><img src="../../static/img/photo.jpg"/></a>
			<a href="#"><img src="../../static/img/photo.jpg"/></a>
			<a href="#"><img src="../../static/img/photo.jpg"/></a>
			<a class="wu" href="#"><img src="../../static/img/photo.jpg"/></a>
			
		</div>
	<div class="box3">
		<div class="new">
			<div class="news">
				<h2>公司新闻Company news</h2>
				<ul class="list">
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
				</ul>
				<a class="more" href="#">MORE&nbsp; INFO</a>
			</div>
			<div class="news">
				<h2>行业新闻Company news</h2>
				<ul class="list">
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
				</ul>
				<a class="more" href="#">MORE&nbsp; INFO</a>
			</div>
			<div class="news">
				<h2>媒体报道Company news</h2>
				<ul class="list">
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
					<li><a href="#">一款APP从设计手稿到上限过程 全方位揭秘</a><span>10-10</span></li>
				</ul>
				<a class="more" href="#">MORE&nbsp; INFO</a>
			</div>
		</div>
	</div>	
		
	
	<div class="box4">
		<div class="footer">
			<ul>
				<li><a href="#">网站首页</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">产品展示</a></li>
				<li><a href="#">客户案例</a></li>
				<li><a href="#">新闻资讯</a></li>
				<li><a href="#">帮助中心</a></li>
				<li><a href="#">联系我们</a></li>
				<li class="noline"><a href="#">解决方案</a></li>
			</ul>
			<p>Ckhhbuu &copy;2000-2010 上海汇丰科技有新公司 版权所有power igj jurh</p>
			<P>电话：12345678900 地址：护肤忽略虐豪华房护肤都给他浮动</P>
		</div>
	</div>
	
	<!--<script type="text/javascript">
		var owe=document.getElementById("we");
		owe.onclick=function(){
			window.open("we.html")
		}
		var oanli=document.getElementById("anli");
		oanli.onclick=function(){
			window.open("anli.html")
		}
		var ofuwu=document.getElementById("fuwu");
		ofuwu.onclick=function(){
			window.open("fuwu.html")
		}
	</script>-->
	
	
	
	
	
	
	
	
	
	
	
		
		
	</body>
</html>
