<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/we.css"/>
	</head>
	<body>
		<div class="top">
			<dl>
				<dt><h1><img src="../../static/img/logo.jpg"/></h1></dt>
				<dd><p>奉行追求品质则可拥抱世界</p></dd>
			</dl>
			<ul>
				<li><a href="index.html">网站首页</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">新闻资讯</a></li>
				<li><a href="anli.html">成功案例</a></li>
				<li><a href="fuwu.html">至尊分享</a></li>
				<li><a href="#">招商加盟</a></li>
				<li><a href="#">联系我们</a></li>				
			</ul>
		</div>
	<!--top  end-->	
		<div class="box1">
			<section>
				<ul>
					<li>关于我们</li>
					<li>让品牌与您同在</li>
				</ul>
				<p>当前位置：<span>主页</span>><span>关于我们</span>></p>
			</section>
		</div>
	<!--box1  end-->	
		<div class="box2">
				<section>
					<div >
						<a href="#">公司介绍</a>
						<a href="#">文化理念</a>
						<a href="#">组织架构</a>
						<a href="#">发展历程</a>
					</div>
				</section>
			</div>
	<!--box2  end-->	
		<div class="mid">
			<dl>
				<dt><img src="../../static/img/midd1.jpg"/></dt>
				<dd>
					<h2>关于我们 about us</h2>
					<p>我们创始于1989年，随着业务的扩展主营只能手机的销售，主要合作商有华为、小米、魅族、苹果、一加、金立等，随着业务的扩展主营只能手机的销售，主要合作商有华为、小米、魅族、苹果、一加、金立等，随着业务的扩展主营只能手机的销售，主要合作商有华为、小米、魅族、苹果、一加、金立等，随着业务的扩展主营只能手机的销售，主要合作商有华为、小米、魅族、苹果、一加、金立等一加、金立等，随着业务的扩展主营只能手机的销售，主要合作商有华为、小米、魅族、苹果、一加、金立等，随着业务的扩展主营只能手机的销售，主要合作商有华为、小米、魅族、苹果、一加、金立等，随着业务的扩展主营只能手机的销售，主要合作商有华为、小米、魅族、苹果、一加、金立等。</p>
				</dd>
			</dl>
			<article>
				<h2>企业使命 about us</h2>
				<dl>
					<dt><img src="../../static/img/midd2.jpg"/></dt>
					<dd>独一无二的设计</dd>
				</dl>
				<dl>
					<dt><img src="../../static/img/midd2.jpg"/></dt>
					<dd>独一无二的设计</dd>
				</dl>
				<dl>
					<dt><img src="../../static/img/midd2.jpg"/></dt>
					<dd>独一无二的设计</dd>
				</dl>
			</article>
				
				
			<article>
				<h2>我们的办公环境 about us</h2>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				<a href="#"><img src="../../static/img/midd2.jpg"/></a>
				
				
			</article>
			
		</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="box4">
		<div class="footer">
			<ul>
				<li><a href="#">网站首页</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">产品展示</a></li>
				<li><a href="#">客户案例</a></li>
				<li><a href="#">新闻资讯</a></li>
				<li><a href="#">帮助中心</a></li>
				<li><a href="#">联系我们</a></li>
				<li class="noline"><a href="#">解决方案</a></li>
			</ul>
			<p>Ckhhbuu &copy;2000-2010 上海汇丰科技有新公司 版权所有power igj jurh</p>
			<P>电话：12345678900 地址：护肤忽略虐豪华房护肤都给他浮动</P>
		</div>
	</div>
	
	
	</body>
</html>
