*{ margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
a{text-decoration: none;}

.top ul li:nth-child(5){background: #f75a53;}
.top ul li:nth-child(5) a{color: #fff;}

.box2{width: 100%;height: 60px;background:#f7f7f7;overflow: hidden;}
.box2 section{width: 1138px;height: 60px;margin: 0 auto;}
.box2 section div{width: 152px;height: 60px;font-size: 12px;line-height: 60px;margin-left: 830px;}
.box2 a{float: right;color: #666;width: 76px;text-align: center;}


article{width: 1138px;height: 856px;margin: 0 auto;overflow: hidden;font-size: 12px;}
article p{width: 1138px;min-height: 24px;line-height: 24px;color: #656668;margin-bottom: 18px;}
article  h6{font-weight:  normal;line-height: 24px;height: 24px;color: #656668}
article h6:first-child{margin-top:45px ;}
article p:last-child{color: #fe0000;}



















